<% layout('./layout/page.ejs') %> <% if(user.length > 0) {%>
<!-- Случай залогиненного пользователя -->
<h3>Добро пожаловать, <%= user[0].username %>!</h3>
<% }else{ %>
<!-- Случай не залогиненного пользователя -->
<h3>Для просмотра контента на всех страницах сайта, пройдите регистрацию!</h3>
<% } %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Счетчик: <%= counter %></p>
